<div class="container">
	<div class="bg1-about">
		<h2>Relive your favorite memories</h2>
	</div>
	<div class="test">
		<div class="border1-about">
			<div class="about-helper">
				<h2>No more sorting through photos</h2>
				<p>Stories automatically finds your best photos and creates a new travelogue. This way you can captureand share your special moments in fresh ways.</p>
				<%= link_to "Learn More", 'signups/new', :class => "btn" %>
			</div>
		</div>
	</div>
</div>
