// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
	color:white;
	list-style-type:none;
	margin-left: 250px;
}

li{
	display:inline;
	font-size: 18px;
	margin-left: 10px;
	position: relative;
	bottom:-20px;
}

html {
	background: url("bg.jpg") no-repeat center center fixed;
	background-size:cover;
}

#startedbox {
	background-color:#333;
	width:200px;
	height:50px;
	margin-left: auto;
	margin-right: auto;
}

#startedtext {
	color:white;
	position:relative;
	top:10px;
}

.supporting {
	background-color:white;
}

.header {
	margin-top: -0px;
	height:60px;
}

.footer .container p{
	margin-left: 250px;
}

.header a {
	color:white;
	text-decoration: none;
}