<div class="container">
	<div class="bg-signup">
		<a href="" id="menu"><img src="/assets/open.svg"></a>
		
		<div class="signup-main">
			<h2>Get the latest updates from Stories</h2>
			
			<%= form_for(@signup) do |f| %>
			<div class="signups">
				<p id="firstname">First name</p>
    			<%= f.text_field :firstname, :id => 'data', required: true%><br>  
    			<p id="email">Email</p>
    			<%= f.email_field :email, :id => 'data', required:true%><br>  
  				<%= f.submit "Join", class:'submit' %> 
			</div>
			<% end %>
		</div>
	</div>

</div>
