<div class="container" id="homepage">
	<div class="bg1-home">
		<div class="bg1-home-text">
			<h2>Create and share Stories</h2>
			<%= link_to "Learn More", "about", :class => "btn" %>
		</div>
	</div>
	
	<div class="border1">
		<h2>Relive and share your adventures</h2>
		<p>Stories automatically creates a digital journal filled with only your best photos.</p>
	</div>

	<div class="bg2-home">
	</div>

	<div class="border2">
		<div class="bg2-home-text">
			<h2>Discover Stories</h2>
			<%= link_to "Learn More", 'about', :class => "btn" %>
		</div>
	</div>


</div>
<div class="footer">
	<p>A SHUTTERBUG PROJECT</p>
</div>